<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <a class=" navbar-text-decor" href="#">
                Admin Home
            </a>
            <!--<a href="" ng-click = "model.updateUser(model.userId,model.user)" class="">-->
              <!--<span class="glyphicon glyphicon-ok white-glyphicon pull-right">-->
              <!--</span>-->
            <!--</a>-->
        </div>
    </div>
    </div>
</nav>
<div class="container-fluid padding-navbar">
    <button class="btn btn-success" ng-click="model.getAllUsers()">All users</button>


    <div class="div-website-list text-color-website-list">
        <ul class="list-group">
            <li ng-repeat="user in model.users" class="list-group-item">

                <p><a href="#">{{user.username}}</a></p>
            </li>
        </ul>
    </div>

    <a class="btn btn-success  btn-block" ng-click="model.logout()"
       href="#/login">Logout</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user white-glyphicon pull-right"></span>
            </a>
        </div>
    </div>
</nav>